<h1>Edit Class</h1>

<%= form_for(@school_class) do |f| %>
    <%= f.label "Class" %><br>
    <%= f.text_field :title %><br>

    <%= f.label "Room Number" %><br>
    <%= f.text_field :room_number %><br>

    <%= f.submit "Update School class" %><br>

<% end %>